* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(52, 52, 52);
}

h1 {
    background-color: lightgreen;
    color: black;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

#create-post {
    margin-top: 20px;
    background-color: rgb(52, 156, 247);
    color: lightgreen;
    padding: 20px 0px 20px 0px;
    border-radius: 20px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container a {
    width:100%;
}

#update-post,
#delete-post {
    width: 90%;
    margin: 20px 20px 0px 20px;
    background-color: rgb(52, 156, 247);
    color: lightgreen;
    padding: 20px 0px 20px 0px;
    border-radius: 20px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

#blogpost-form {
    margin-top: 20px;
}

header {
    background-color: black;
    margin: 0;
    padding: 20px 50px 20px 50px;
}

nav {
    background-color: black;
}

nav a {
    color: lightgreen;
    margin-right: 50px;
    font-size: 2em;
    text-decoration: none;
    background-color: black;
}

p,
a {
    color: white;
}

form {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: lightgreen;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
}

#comment-form,
#blogpost-form {
    max-width: 78%;
}

form h2 {
    text-align: center;
    background-color: lightgreen;
}

form label {
    background-color: lightgreen;
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 96%;
    padding: 8px 2% 8px 2%;
    margin: 5px 0 15px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
    color: black;
}

button {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 3px;
    background-color: black;
    color: lightgreen;
    cursor: pointer;
}

button:hover {
    background-color: rgb(52, 156, 247);
}

p {
    text-align: center;
}

#login-forms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form {
    Flex-grow: 1;
    Flex-shrink: 1;
    Flex-basis: 50%;
}

.blogpost,
.blogpost *,
.comment,
.comment * {
    background-color: white;
}

.blogpost {
    width: 80%;
    margin: 40px auto;
    border: 5px solid black;
    box-shadow: 10px 10px lightgreen;
}

.blogpost h2 {
    color: lightgreen;
    background-color: black;
    text-align: center;
    padding: 5px 0px 15px 0px;
    margin: 0;
}

.blogpost h3,
.comment h3 {
    color: black;
    text-align: center;
    margin: 10px 0px 0px 10px;
    padding: 0px 40px 0px 40px;

}

.blogpost p,
.comment p {
    text-align: left;
    color: black;
    padding-left: 40px;
    padding-right: 30px;
    text-decoration: none;
}

.blog-links {
    text-decoration: none;
}

.comments h2 {
    width: 80%;
    margin: 0 auto;
    background-color: lightgreen;
    color: black;
    padding: 20px 0px 20px 0px;
    border-radius: 20px;
    text-align: center;
}

.comment {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    border: 5px solid black;
    box-shadow: 10px 10px lightgreen;
}

.hidden {
    display: none;
}